# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
Pipfile.lock

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Editor and IDE settings
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log

# Local configuration files
config.ini
.env